  <div class="modal-background">
    <div class="modal-outer">
      <div id="about" class="modal">
        {{#if isApp}}<div class="app_space_bar"></div>{{/if}}
        <div class="modal-header">
          <div on-tap='close' class="close"></div>
        </div>
        <div class="modal-content">

          <h2><strong>About the data</strong></h2>

          <p><span class="c15">The data is produced in collaboration with the</span> <span class="c7"><a class="c12" href="https://www.google.com/url?q=https://c21ch.newcastle.edu.au/colonialmassacres/timeline.php&amp;sa=D&amp;ust=1573791197203000">Centre for 21st Century Humanities Colonial Frontier Massacres 1788-1930 Research Project</a></span><span class="c15">&nbsp;at the University of Newcastle.</span></p>
          <p><span>The update of November 18 includes more sites in Western Australia and the Northern Territory. More sites will be published in mid-2020.</span></p>
          <p><span>Research and verification of all available evidence is done carefully and takes time.</span></p>
          <p><span class="c15">For an explanation of what we collected, how and why,</span> <span class="c7"><a class="c12" href="https://www.google.com/url?q=https://c21ch.newcastle.edu.au/colonialmassacres/introduction.php%23guidelines&amp;sa=D&amp;ust=1573791197204000">go here</a></span><span>.</span></p>
          <p><span class="c15">We have recorded instances where there are several primary accounts that a mass killing has taken place, recorded in a</span> <span class="c7"><a class="c12" href="https://www.google.com/url?q=https://c21ch.newcastle.edu.au/colonialmassacres/ColonialMassacres_2_0_Bibliography.pdf&amp;sa=D&amp;ust=1573791197204000">range of sources</a></span><span>, from journals to oral histories.</span></p>
          <p><span>We have only recorded instances in which six or more people have been killed.</span></p>
          <h2 class="c3 c6" id="h.cnysv6fs6k7"><span >Why six?</span></h2>
          <p><span>According to Prof Lyndall Ryan, of the University of Newcastle, the massacre of six undefended Aboriginal people from a hearth group of 20 people is known as a &ldquo;fractal massacre&rdquo;. This leaves the survivors vulnerable to further attack and far less able to hunt, care for children, defend family or carry out cultural obligations to country.</span></p>
          <p><span>We frequently found a wide variation in the estimates of the number of people killed. Where this occurred, we chose the average of the estimates available to give a single number that can be used in analyses.</span></p>
          <p><span>We have relied on the written record of the time but we acknowledge that, for example, a settler&rsquo;s journal is not necessarily a reliable or definitive account of what took place. There can be a tendency to understate the severity of the attacks, the sequence of events, the toll they took and the actions of those present.</span></p>
          <p><span>Language can be coded. The word &ldquo;dispersal&rdquo; is a common euphemism. &ldquo;Expeditions&rdquo; were undertaken to &ldquo;teach the blacks a lesson&rdquo;.</span></p>
          <p><span>We found many sites where the true death toll may never be known, and many more that we are still working to verify.</span></p>
          <p><span>For comparative purposes, we have also collected data on all mass killings in the time period &ndash; Indigenous and non-Indigenous.</span></p>
          <h2 class="c3 c6" id="h.x9x5dkuc4esi"><span >Defining motives</span></h2>
          <p><span class="c15">Ascribing motive is a difficult task. We have categorised events according to the</span> <span class="c11">alleged</span><span>&nbsp;reasons for them, as written in primary sources we have seen.</span></p>
          <p><span>Context is important. We acknowledge that these sources are written from a European perspective, and that attacks on settlers often took place after previous unreported clashes, or as the culmination of a series of incursions and tensions over land, water and resources. We have also noted the heavily disproportionate response of these alleged reprisal attacks.</span></p>
          <h2 class="c3 c6" id="h.pzklkxmvz1g0"><span >Opportunity v dispersals and punitive expeditions</span></h2>
          <p><span>The majority of these attacks were planned, not random clashes, and had government involvement or sanction. In this context opportunity means that attacks were deliberately carried out in the knowledge that there would be no formal repercussions. In south-west Queensland in the late 1890s, for example, at least one massacre was the result of long-term planning by the perpetrators, who waited for hundreds of Aboriginal people to come together for a major ceremony.</span></p>
          <h2 class="c3 c6" id="h.ttjnd23nxrjz"><span >Involvement</span></h2>
          <p><span>Guardian Australia categorised each incident to to show the involvement of different parties in perpetrating a massacre or instigating conflict which resulted in one. The categories we used for this are: Aboriginal civilians, Aboriginal warriors, military/police/government, native police and settlers/stockmen. Deaths are also recorded in two broad categories: Aboriginal people and colonial people.</span></p>
          <h2 class="c3 c6" id="h.83wvuh7sbkqo"><span >Dates</span></h2>
          <p><span>Dates from historical records sometimes involve a large range such as &ldquo;the 1880s&rdquo; or &ldquo;between 1825 and 1829&rdquo;. Where precise dates are not available, we have taken the middle date of a date range.</span></p>
          <h2 class="c3 c6" id="h.1jo2x295bqg8"><span >Locations</span></h2>
          <p><span>The locations given are the general area where the massacre or conflict occurred, and are deliberately imprecise to within 250m.</span></p>
          <h2 class="c3 c6" id="h.ybt9bmz4ak5y"><span >Why did we do this?</span></h2>
          <p><span>The history of the colonial frontier is at the heart of calls for truth-telling.</span></p>
          <p><span>Guardian Australia is aware this is a contested history.</span></p>
          <p><span>This project aims to provide you with a searchable, comprehensive collection of as much publicly available and verified information as we can provide at this time.</span></p>
          <p><span>We have included a list of helpful resources to contact if this site raises any issues for you.</span></p>
          <p><span class="c11">&bull; In Australia, the crisis support service Lifeline is on 13 11 14. In the UK Samaritans can be contacted on 116 123. In the US, the National Suicide Prevention Lifeline is 1-800-273-8255. Other international suicide helplines can be found at</span> <span class="c7 c16"><a class="c12" href="https://www.google.com/url?q=http://www.befrienders.org/&amp;sa=D&amp;ust=1573791197208000">befrienders.org</a></span></p>
  
          <a on-tap='close' class="action-button">Close</a>


        </div>
      </div>
    </div>
  </div>