<div id="frontier_app">  

	<div class="parent-container">

		<div class="parallax-container">

			<div class="keyart" id="parallax">
				
			    <div class="parallax__layer parallax__title"></div>

			    <div class="grass"></div>

			</div>

		</div>

		<div class="application-container">

			<div class="intro-container">
				
				<div class="intro_block">

					<p>The history of the colonisation of Australia is at the heart of increasing calls for a national truth-telling process. So what do we really know of our colonial history? What happened in your suburb, town or district?</p>
 
					<p>This map and the stories inside are the first searchable, comprehensive collection of as much publicly available, accurate and verified information about that history as we can provide at this time.</p>
					 
					<p>The mapping of frontier killings is taking place in many forms across the country, through painstaking research by historians, archaeologists, artists and descendants on all sides. We will update this site as more information comes to light.</p>
					 
					<p>This site <strong>does not</strong> contain images of people who have died.</p>
					 
					<p>However, the historical records reproduced here use archaic terms that are offensive, and 
					the themes and content within will be distressing to many people.</p>
					 
					<p><strong>Discretion is advised.</strong></p>
					
					<div class="timestamp">
						Last updated: 24 January 2019
					</div>
					<div class="share-buttons">
						<div class="social_isolation">
							<button class="interactive-share" data-network="facebook"></button> 
							<button class="interactive-share" data-network="twitter"></button>
						</div>
						<div class="about_database">
							About the data
						</div>
					</div>
				</div>

			</div>

			<div id="navbar" class="navigation-container">
				
				<div class="navigation-bar">

					<div class="mode-container"></div>

				</div>

				<div class="navigation-bar">

					<div class="more-container"></div>
					
					<div class="key-container">
						 <div class="key">
						 	<ul>
						 		<li><div class="colour level1"></div> 6 to 10 deaths</li>
						 		<li><div class="colour level2"></div> 11 to 20 deaths</li>
						 		<li><div class="colour level3"></div> More than 20 deaths</li>
						 	</ul>
						 </div>
					</div>

				</div>

			</div>

			<div class="map-container" style="height:100vh"></div>

		</div>

	</div>

</div>


