<div id="frontier_app">  

	<div class="parent-container" style="height:100vh;background-color: #290003;">

		<div class="parallax-container">

			<div class="keyart" id="parallax">

				<div class="painting"></div>

			    <div class="parallax__layer parallax__title"></div>

			    <div class="grass"></div>

			</div>

		</div>

		<div class="application-container">

			<div class="intro-container">
				
				<div class="intro_block warning">

					<p>This is a map of sites where violence occurred on the Australian frontier. This site <strong>does not</strong> contain images of people who have died. However, the historical records reproduced here use archaic terms that are offensive, and the themes and content within will be distressing to many people.</p>
					<p><strong>Discretion is advised.</strong></p>

					<div class="button_container">

						<div class="button_database">Proceed</div>

					</div>
					
					<div class="circle_loader">

					    <div class="up">
					        <div class="innera"></div>
					    </div>

					    <div class="down">
					        <div class="innerb"></div>
					    </div>

					</div>


					
				</div>

			</div>

		</div>

	</div>

</div>


