<div id="frontier_app">  

	<div class="parent-container">

		<div class="parallax-container">

			<div class="keyart" id="parallax"></div>

				<div class="titlebox">The Frontier Wars</div>

			<div class="grass"></div>

		</div>

		<div class="application-container">

			<div class="intro-container">
				
				<div class="intro_block">
					<p>The Australian frontier wars is a term applied by some historians to the fatal encounters between First Nation peoples and white settlers during the British colonisation of Australia. The first massacres took place shortly after the landing of the First Fleet in January 1788 and continued into the first half of the 20th century. You can contact us about this map at <a href="mailto:frontierwars@theguardian.com">frontierwars@theguardian.com</a></p>
					<div class="timestamp">
						Last updated: 24 January 2019
					</div>
					<div class="share-buttons">
						<div class="social_isolation">
							<button class="interactive-share" data-network="facebook"></button> 
							<button class="interactive-share" data-network="twitter"></button>
						</div>
						<div class="about_database">
							About the data
						</div>
					</div>
				</div>

			</div>

			<div id="navbar" class="navigation-container">
				
				<div class="navigation-bar">

					<div class="mode-container"></div>

				</div>

				<div class="navigation-bar">

					<div class="more-container"></div>
					
					<div class="key-container">
						 <div class="key">
						 	<ul>
						 		<li><div class="colour level1"></div> 6 to 10 deaths</li>
						 		<li><div class="colour level2"></div> 11 to 20 deaths</li>
						 		<li><div class="colour level3"></div> More than 20 deaths</li>
						 	</ul>
						 </div>
					</div>

				</div>

			</div>

			<div class="map-container" style="height:100vh"></div>

		</div>

	</div>

</div>


