  <div class="modal-background">
    <div class="modal-outer">
      <div id="about" class="modal">
        {{#if isApp}}<div class="app_space_bar"></div>{{/if}}
        <div class="modal-header">
          <div on-tap='close' class="close"></div>
        </div>
        <div class="modal-content">

          <h2>Why are we doing this?</h2> 

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non condimentum metus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam vestibulum dignissim tristique. Etiam accumsan velit ut velit feugiat, et euismod neque facilisis. Maecenas quam metus, gravida non tincidunt non, molestie sit amet nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla a velit nec nisi commodo bibendum non sed urna. Praesent malesuada facilisis ligula, ut ultrices lacus feugiat eu. Aliquam ut ante velit. Fusce id eros neque. Curabitur urna ante, sagittis vel nulla ut, consectetur fringilla magna.</p>
          
          <a on-tap='close' class="action-button">Close</a>


        </div>
      </div>
    </div>
  </div>