

	<div class="parent-container">

		{{#if info}}

			<div on-tap="['panel']" class="info-panel">

				{{#if tipDisplay}}
				
				<div class="info-panel-1" style="top:{{currentPosY}}px;left:{{currentPosX}}px;"></div>

				{{/if}}

			</div>

		{{/if}}

		<div class="parallax-container">

			<div class="keyart" id="parallax">

				<div class="painting"></div>
				
			    <div class="parallax__layer parallax__title"></div>

			    <div class="grass"></div>

			</div>

		</div>

		<div class="application-container">

			<div class="intro-container">
				
				<div class="intro_block">

					<p>This map shows evidence of mass killings from 1788 until 1928: a sustained and systematic process of conflict and expansion.

					<p>Data used in this map is reproduced with permission of the <a href="https://c21ch.newcastle.edu.au/colonialmassacres/">University of Newcastle Colonial Frontier Massacres Project team</a>.</p>

					<p>This site is a collection of as much accurate information as we can provide at this time about what took place on the frontier of colonisation. What happened near your suburb, town or district? Search by location, postcode or time to find out.</p>

					<p>The mapping of our turbulent history is happening in many forms across the country, through painstaking research by historians, archaeologists, artists and descendants on all sides.</p>

					<p>The process of truth-telling is ongoing. Verifying sites takes time and is done carefully. This takes time and this map is just the start. To find out what we did and why, read the “About” section. “Tips” will help you navigate the map and its features.</p>

					<p>We will update this site as more information comes to light. You can contact us about this project at <a href="mailto:killingtimes@theguardian.com">killingtimes@theguardian.com</a>.</p>

					<p><strong>A warning: this contains information about acts of violence, strong themes and archaic language.</strong></p>

					<!--p>The colonisation of Australia is at the heart of calls for a national truth-telling process. This map tells the stories that have long been kept out of our history books. It shows evidence of mass killings from 1788 until 1928: a sustained and systematic process of conflict and expansion.</p>

					<p>Data used in this map is reproduced with permission of the <a href="https://c21ch.newcastle.edu.au/colonialmassacres/" target="_blank">University of Newcastle Colonial Frontier Massacres Project team.</a></p>

					<p>So what do we need to know about our past, so we can start the process? This site is a collection of as much accurate information about our frontier history as we can provide at this time.</p>

					<p>What happened in your suburb, town or district? Search by location, postcode or time to find out.</p>

					<p>The mapping of our turbulent history is happening in many forms across the country, through painstaking research by historians, archaeologists, artists and descendants on all sides. The process is ongoing, and this data is incomplete. In particular, more sites in Western Australia are expected to be added. We will update this site as more information comes to light.</p>

					<p>You can contact us about this project at <a href="mailto:killingtimes@theguardian.com
					">killingtimes@theguardian.com</a>.

					<p><b>A warning: this contains information about acts of violence, strong themes and archaic language.</b></p-->
					 					 
					<div class="timestamp">
						Last updated: 18 November 2019
					</div>
					<div class="share-buttons">

						<div class="social_isolation">
							<button class="interactive-share" data-network="facebook" on-tap="['social', 'facebook']"></button> 
							<button class="interactive-share" data-network="twitter" on-tap="['social', 'twitter']"></button>
						</div>

						<div on-tap="['about']" class="about_database">
							About
						</div>

						<div on-tap="['tips']" class="about_database">
							Tips
						</div>

					</div>
				</div>

			</div>

			<div id="navbar" class="navigation-container">
				
				<div class="navigation-bar">

					<div class="mode-container">

						<div class="mode-label">Explore map</div>
					
						<div id="info-1" class="mode-switch-box">
							<label class="switch">
							  <input type="checkbox" checked="{{proximity}}" id="mode-switch">
							  <span class="slider round"></span>
							</label>
						</div>

						<div class="mode-label">Search by location</div>

					</div>

					{{#if proximity}}

					<div class="searchbox-container">

						{{#if geolocation}}

							{{#if isApp}}

							{{else}}

							<div class="geo-switch" on-tap="['geo']"></div>

							{{/if}}

						{{/if}}

			            <div id="searchbox">

			                <div class="{{#if isApp}}app-holder isApp{{else}}inputbox-holder{{/if}}">

			                    <form autocomplete="off">

			                        <input on-keydown='keydown' class="frontier-sr-only" id="inputbox" placeholder="Enter a postcode" size="90" type="text" value="{{user_input}}">

			                    </form>

			                    <div id="results">
			                    	
			                    	{{#if list}}
									<ul>

										{{#each postcodeShortlist}}

										<li on-tap="['postcode', latitude, longitude]">{{meta}}</li>

										{{/each}}

									</ul>
			                    	{{/if}}

			                    </div>
			                </div>
			            </div>
					</div>

					{{/if}}


				</div>

				<div class="navigation-bar">

					<div class="more-container" on-tap="['results']">

						<div class="more-switch-box">
							<div id="info-2" class="more-switch" ></div>
						</div>

						<div class="more-label">{{#if legend}}Show filter panel{{else}}{{#if isMobile}}Show map{{else}}Hide filter panel{{/if}}{{/if}}</div>

					</div>
					
					<div class="key-container">
						 <div class="key">
						 	<span>Estimated deaths: </span>
						 	<ul>
						 		<li><div class="colour level1"></div> 6 to 10</li>
						 		<li><div class="colour level2"></div> 11 to 20</li>
						 		<li><div class="colour level3"></div> More than 20</li>
						 	</ul>
						 </div>
					</div>

				</div>

			</div>

			<div class="map-container{{#if proximity}} displayer{{/if}}" style="height:{{height}}px">

				<div id="map" style="height:{{height}}px"></div>

				<div id="legend" class="{{#if legend}}legend hideFilters{{else}}legend{{/if}}">

					<div class="close-container">
						
						<div on-tap='close' class="close"></div>

					</div>

					<div class="show-new">
						
					    <div class="pretty p-icon p-round p-pulse">
					        <input type="checkbox" on-tap='all' />
					        <div class="state p-warning">
					            <i class="icon mdi mdi-check"></i>
					            <label>Show <strong>new</strong> entries only</label>
					        </div>
					    </div>

					</div>

					<div class="slider-text">

						Display selected <strong>date range</strong>

					</div>
					
					<div class="slider_container">

						<div class="annual left">{{DateStart}}</div>

						<div class="filter_slider"></div>

						<div class="annual right">{{DateEnd}}</div>

					</div>

					<div class="slider-text">Display death count:</div>

					<div class="slider-death-count">

						<div class="slider-death-count-box">
							<div class="slider-death-count-circle{{#if deathcountCheck('All',filterDeaths)}} filter-selected{{/if}}" on-tap="['deathcount', 'All']">
								<div class="slider-death-count-label">Show All</div>
							</div>
						</div>

						<div class="slider-death-count-box">
							<div class="slider-death-count-circle{{#if deathcountCheck('6 to 10',filterDeaths)}} filter-selected{{/if}}" on-tap="['deathcount', '6 to 10']">
								<div class="slider-death-count-label">6 to 10</div>
							</div>
						</div>

						<div class="slider-death-count-box">
							<div class="slider-death-count-circle{{#if deathcountCheck('11 to 20',filterDeaths)}} filter-selected{{/if}}" on-tap="['deathcount', '11 to 20']">
								<div class="slider-death-count-label">11 to 20</div>
							</div>
						</div>

						<div class="slider-death-count-box">
							<div class="slider-death-count-circle{{#if deathcountCheck('More than 20',filterDeaths)}} filter-selected{{/if}}" on-tap="['deathcount', 'More than 20']">
								<div class="slider-death-count-label">More than 20</div>
							</div>
						</div>
						
					</div>

					<div class="slider-text">Display group with highest fatalities:</div>

					<div class="slider-death-count">

						<div class="fatalities-box">
							<div class="fatalities-count{{#if fatalitiesCheck('All',fatalities)}} filter-selected{{/if}}" on-tap="['fatalities', 'All']">
								<div class="fatalities-inner-circle">
									<div class="fatalities-label">Show All</div>
								</div>
							</div>
						</div>

						<div class="fatalities-box">
							<div class="fatalities-count{{#if fatalitiesCheck('Aboriginal',fatalities)}} filter-selected{{/if}}" on-tap="['fatalities', 'Aboriginal']">
								<div class="fatalities-label">Aboriginal</div>
							</div>
						</div>

						<div class="fatalities-box">
							<div class="fatalities-count{{#if fatalitiesCheck('Colonisers',fatalities)}} filter-selected{{/if}}" on-tap="['fatalities', 'Colonisers']">
								<div class="fatalities-label">Coloniser</div>
							</div>
						</div>
						
					</div>

					<div class="slider-text">Filter massacres by perpetrator groups:</div>

				    <div class="involvement-filter">

				        <div class="involved_container">

				        	{{#if specials}}

                                {{#each specials}}

									<div on-tap="['remove', this]" class="involved">{{this}}</div>

                                {{/each}}

				        	{{/if}}

				        </div>

				        <div class="outsiders_container">
				        	
				        	{{#if outsiders}}

                                {{#each outsiders}}

									<div on-tap="['add', this]" class="outsiders">{{this}}</div>

                                {{/each}}

				        	{{/if}}

				        </div>

				    </div>

				</div>

				<div id="sidebar"></div>

			</div>

			{{#if topfive}}
			<section id="frontier-results" class="frontier-results">
				<div class="frontier-results-header">
					<div class="frontier-container frontier-bg-grey">
						<div class="frontier-container-inner">
							<div class="topfive_container">

								<p><strong>Nearby conflicts</strong></p>

								<table cellspacing="0">
									<tbody>
										<tr >
											<th class="table-results"></th>
											<th class="table-results"></th>
											<th class="table-results">Dead</th>
											<th class="table-results">Distance (km)</th>
										</tr>
										{{#each topfive}}
										<tr on-tap="['info', id]" on-hover="['infohover', id]" class="massacre_row" data-massacre="{{id}}">
											<td class="table-results" ></td>
											<td class="table-results">{{Site_Name}}</td>
											<td class="table-results">{{total_dead}}</td>
											<td class="table-results">{{dist(distance)}}</td>
										</tr>
										{{/each}}
									</tbody>
								</table>

							</div>
						</div>
					</div>
				</div>
			</section>

			{{else}}

				{{#if first}}

				<section id="frontier-results" class="frontier-results">
					<div class="frontier-results-header">
						<div class="frontier-container frontier-bg-grey">
							<div class="frontier-container-inner">
								<div class="topfive_container">			

									<p><strong>About this map: </strong>each marker indicates the location of a fatal historical conflict between Indigenous Australians and settlers during the British colonisation of Australia, in which more than six people died. Click on a marker to view information about the conflict. Click on a marker to view information about the conflict. Click the "About" tab to read about our data collection methods</p>

								</div>
							</div>
						</div>
					</div>
				</section>

				{{/if}}

			{{/if}}

			
			{{#if massacre}}
			{{#massacre}}
			<section class="frontier-results" id="frontier-results">
				<div class="frontier-results-list">
					<div class="frontier-container">
						<div class="frontier-container-inner">
							<h2>{{Site_Name}}</h2>
							{{#if Known_Date}}<h3>{{Known_Date}}</h3>{{else}}<h3>{{year}}</h3>{{/if}}
							<div class="frontier-results-list-item frontier-results-list-item_sparkline">
								<div class="frontier-container-col-66">

									{{#if article}}

										<div class="hero_image">

											<img src="{{Image}}">

											<div class="photocaption">{{Caption}}</div>

										</div>

									{{/if}}

									<p>{{{Narrative}}}</p>

								</div>

								<div class="frontier-container-col-33">
									<p>
										<small>
											{{#if Motive}}Motive: {{Motive}}<br/>{{/if}}
											{{#if AborigEst}}{{{AborigEst}}}<br/>{{/if}}
											{{#if ColoniserEst}}{{{ColoniserEst}}}<br/> {{/if}}
										</small>
									</p>
								</div>

								<div class="share-link-box">

									<div on-tap='showLink' class="about_database">Share this link</div>

									{{#showLink}}

									<div class="incident-link">

										<input class="incident-link-field" value="https://www.theguardian.com/australia-news/ng-interactive/2019/mar/04/massacre-map-australia-the-killing-times-frontier-wars?incident={{idcfv}}">

									</div>

									{{/showLink}}
									
								</div>

							</div>

							<small>Written by {{{WrittenBy}}}</small>

						</div>

					</div>

				</div>

				<div class="frontier-results-footer">

					<div class="frontier-container">

						<div on-tap="['top']" class="about_database" style="float:right;">Back to top</div>

					</div>

				</div>

			</section>
			{{/massacre}}
			{{/if}} 

			<!--div id="console" class="console">{{#if logging}}{{{logging}}}{{/if}}</div-->


		</div>

		<div class="footer" id="footer">

			
		    <h2>Read more</h2>
		    <ul class="footer-grid">
		        <li>
		            <div class="footer-item-container">
		                <img src="https://i.guim.co.uk/img/media/200eb70cf7f2958802974b3694ac58ea88a4afd0/11_0_2778_1667/master/2778.jpg?width=465&quality=45&auto=format&fit=max&dpr=2&s=3008e6c8e262472d36e3adb6a2327f5f">
		                <div class="footer-text-content">
		                    <h2>The Killing Times: the massacres of Aboriginal people Australia must confront</h2>
		                </div>
		                <a class="anchor" href="https://www.theguardian.com/australia-news/2019/mar/04/the-killing-times-the-massacres-of-aboriginal-people-australia-must-confront" target="_blank"></a>
		            </div>
		        </li>      
		        <li>
		            <div class="footer-item-container">
		                <img src="https://i.guim.co.uk/img/media/3b22a79c209388720e9be262128af0160d1e2c87/0_0_2500_1500/master/2500.jpg?width=465&quality=45&auto=format&fit=max&dpr=2&s=a375c9e8eb861dcc3018232115f273f6">
		                <div class="footer-text-content">
		                    <h2>When Glenda met Sandy: descendants of massacre survivor and soldier unite in grief</h2>
		                </div>
		                <a class="anchor" href="https://www.theguardian.com/australia-news/2019/mar/01/when-glenda-met-sandy-descendants-of-massacre-survivor-and-soldier-unite-in-grief" target="_blank"></a>
		            </div>
		        </li>
		        <li>
		            <div class="footer-item-container">
		                <img src="https://media.guim.co.uk/c1f683c32488c4f3d8a1489639c827018e2fdb4c/0_0_2042_1225/500.jpg">
		                <div class="footer-text-content">
		                    <h2>As the toll of Australia’s frontier brutality keeps climbing, truth telling is long overdue – Paul Daley</h2>
		                </div>
		                <a class="anchor" href="https://www.theguardian.com/australia-news/2019/mar/04/as-the-toll-of-australias-frontier-brutality-keeps-climbing-truth-telling-is-long-overdue" target="_blank"></a>
		            </div>
		        </li>      
		    </ul>
			

			<!--
		    <ul class="footer-grid">
		        <li>
		            <div class="footer-item-container">
		                <img src="https://i.guim.co.uk/img/media/949a5cfb3d7205c0a8e06fcbc2afd791d484842c/10_56_2599_1559/master/2599.jpg?width=620&quality=45&auto=format&usm=12&fit=max&dpr=2&s=18cd147a937dd74236fbb9b9248ad9fa">
		                <div class="footer-text-content">
		                    <h2>The 147 dead: terrible toll of Indigenous deaths in custody spurs calls for reform</h2>
		                </div>
		                <a class="anchor" href="https://www.theguardian.com/australia-news/2018/aug/28/the-147-dead-indigenous-leaders-demand-action-over-unacceptable-deaths-in-custody" target="_blank"></a>
		            </div>
		        </li>      
		        <li>
		            <div class="footer-item-container">
		                <img src="https://i.guim.co.uk/img/media/f359e10eb756d432772752ebc434f3d2957154d0/0_125_5022_3012/master/5022.jpg?width=620&quality=45&auto=format&usm=12&fit=max&dpr=2&s=4d00010a480dadd3b88d8de732b4eaa8">
		                <div class="footer-text-content">
		                    <h2>We examined every Indigenous death in custody since 2008. This is why</h2>
		                </div>
		                <a class="anchor" href="https://www.theguardian.com/australia-news/2018/aug/28/we-examined-every-indigenous-death-in-custody-since-2008-this-is-why" target="_blank"></a>
		            </div>
		        </li>
		        <li>
		            <div class="footer-item-container">
		                <img src="https://media.guim.co.uk/b471e51e124eb1059884389ea8fcb1c5b33f6e3e/103_105_865_519/865.jpg">
		                <div class="footer-text-content">
		                    <h2>Indigenous prisoner restrained by 14 officers before death in custody, footage shows</h2>
		                </div>
		                <a class="anchor" href="https://www.theguardian.com/australia-news/2018/aug/27/indigenous-prisoner-restrained-by-14-officers-before-death-in-custody-footage-shows" target="_blank"></a>
		            </div>
		        </li> 
		         <li>
		            <div class="footer-item-container">
		                <img src="https://media.guim.co.uk/b471e51e124eb1059884389ea8fcb1c5b33f6e3e/103_105_865_519/865.jpg">
		                <div class="footer-text-content">
		                    <h2>Indigenous prisoner restrained by 14 officers before death in custody, footage shows</h2>
		                </div>
		                <a class="anchor" href="https://www.theguardian.com/australia-news/2018/aug/27/indigenous-prisoner-restrained-by-14-officers-before-death-in-custody-footage-shows" target="_blank"></a>
		            </div>
		        </li>       
		    </ul -->
			
		    <div class="credits col50">
		        <h2>Credits</h2>
		        <div class="credits-inner">
		            <p class="gia-byline"><span>Design and development:</span> <a href='https://www.theguardian.com/profile/nick-evershed'>Nick Evershed</a> and <a href='https://www.theguardian.com/profile/andy-ball'>Andy Ball</a></p>
		            <p class="gia-byline"><span>Research and reporting:</span> <a href='https://www.theguardian.com/profile/lorena-allam'>Lorena Allam</a>, Ciaran O'Mahony and Jeremy Nadel </p>
		            <p class="gia-byline"><span>Photographs:</span> Aletheia Casey and <a href="https://www.theguardian.com/profile/carly-earl">Carly Earl</a>
		            </p>
		            <p class="gia-byline"><span>Main image paintings:</span> Bushrangers on St Kilda Road, William Strutt, and watercolours by Joseph Lycett
		            </p>      
		        </div>
		    </div>

		    <div class="credits col50">

		        <h2>Thanks to</h2>
		        <div class="credits-inner">
		            <p class="gia-byline">University of Newcastle Professor Lyndall Ryan and the <a href="https://c21ch.newcastle.edu.au/colonialmassacres/">Colonial Frontier Massacres Project team</a>, <a href="https://www.newcastle.edu.au/research-and-innovation/centre/centre-for-21st-century-humanities/about-us">C21CH</a>, and Melbourne University Centre for Advancing Journalism</p>
		        </div>

		        <h2>Supported by</h2>
		        <div class="credits-inner">
		            <a href="https://www.theguardian.com/australia-news/2018/apr/24/indigenous-investigations-about-this-series" target="_blank">
		            <img src="https://interactive.guim.co.uk/atoms/2018/08/deaths_in_custody/v/1535694292221/assets/balnaves.png" width="100" height="100">
		            </a>
        		</div>
		    </div>
		</div>
	</div>



