.hero_image {
	width: 100%;
	max-width: 550px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.hero_image img {
	width: 100%;
}

.inline_image {
	width: 100%;
	max-width: 250px;
	float: right;
	margin: 20px;
}

.inline_image img {
	width: 100%;
}

.photocaption {
	width: 100%;
	font-family: 'Guardian Text Sans Web', TextSans, Arial, sans-serif;
	font-size: 12px;
	margin-top: 10px;
}
