@import "palette";
@import "mq";

.involvement-filter {
	width: 100%;
	box-sizing: border-box;
	position: relative;
	z-index: 99;
	margin-top: 20px;
	

	@include mq($until: tablet) {
		display: none;
	}       

	@include mq($from: tablet) {
		display: inline-block;
	}

	.involved_container {
		width: 100%;
		display: inline-block;
	}

	.outsiders_container {
		width: 100%;
		display: inline-block;
	}

	.involved {
		display: inline-block;
		padding: 10px;
		background-color: red;
		color: white;
		font-family: 'Guardian Text Sans Web', TextSans, Arial, sans-serif;
		font-size: 12px;
		font-weight: 600;
		margin-right: 10px;
		margin-bottom: 10px;
		cursor: pointer;

        @include mq($until: tablet) {
			line-height: 12px;
			height: 12px;
			border-radius: 12px;
        }       

        @include mq($from: tablet) {
			line-height: 22px;
			height: 22px;
			border-radius: 22px;
       }

	}

	.involved:after {
		display: block;
		content: "";
		width: 24px;
		height: 24px;
		border-radius: 50%;
		margin-left: 10px;
		background: transparent url('<%= path %>/assets/close.svg') no-repeat;
		background-color: white;
		float: right;
	}

	.outsiders {
		display: inline-block;
		padding: 10px;
		background-color: #38454F;
		color: white;
		font-family: 'Guardian Text Sans Web', TextSans, Arial, sans-serif;
		font-size: 12px;
		margin-right: 10px;
		margin-bottom: 10px;
		cursor: pointer;

        @include mq($until: tablet) {
			line-height: 12px;
			height: 12px;
			border-radius: 12px;
        }       

        @include mq($from: tablet) {
			line-height: 22px;
			height: 22px;
			border-radius: 22px;
       }

	}

	.outsiders:after {
		display: block;
		content: "";
		width: 24px;
		height: 24px;
		border-radius: 50%;
		margin-left: 10px;
		background: transparent url('<%= path %>/assets/plus.svg') no-repeat;
		float: right;
	}


}


