@import "palette";
@import "mq";


#legend {
	
	bottom: 0px;
	top:0px;
	left: 0px;
	background-color: #92979b;
	position: absolute;
	box-sizing: border-box;
	
	z-index: 9999999;

	@include mq($until: tablet) {
		width: 100%;
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 10px;
	}

	@include mq($from: tablet) {
		width: 400px;
		padding: 20px;
	}

	-webkit-box-shadow: 3px -2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px -2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px -2px 5px 0px rgba(0,0,0,0.75);

	.close-container {
		width: 100%;
		height: 40px;

		@include mq($until: tablet) {
			display: none;
		}


	}


    .close {
		width: 40px;
		height: 40px;
		cursor: pointer;
		opacity: .6;
		border-radius: 25px;
		background-image: url('<%= path %>/assets/close.svg');
		background-size: cover;
		background-color: white;
		float: right;
    }

    .close:hover {
      opacity: .8;
    }

	.slider-death-count {
		width: 100%;
	}

	.slider-death-count-box, .fatalities-box {
		width: 25%;
		height: 0px;
		float: left;
		padding-bottom: 25%;

		@include mq($until: tablet) {
			margin-bottom: 2px;
			margin-top: 2px;
		}

		@include mq($from: tablet) {
			margin-bottom: 10px;
			margin-top: 10px;
		}

	}

	.slider-death-count-circle {
		width: 90%;
		margin: auto;
		padding-bottom: 90%;
		height: 0px;
		color: white;
		border-radius: 50%;
		float: left;
		font-family: 'Guardian Text Sans Web', TextSans, Arial, sans-serif;
		cursor: pointer;
		line-height: 12px;
		font-size: 12px;
		text-align: center;
	}

	.fatalities-count {
		width: 90%;
		margin: auto;
		padding-bottom: 90%;
		height: 0px;
		color: white;
		float: left;
		font-family: 'Guardian Text Sans Web', TextSans, Arial, sans-serif;
		cursor: pointer;
		line-height: 12px;
		font-size: 12px;
		text-align: center;
	}

	.filter-selected {
		width: 90%;
		height: 90%;
		background: #cca92c;
		cursor: pointer;
		box-shadow: 0 0 0 rgba(204,169,44, 0.9);
		animation: pulse 2s infinite;
		border: 2px solid #1d272f;
	}

	@-webkit-keyframes pulse {
	  0% {
	    -webkit-box-shadow: 0 0 0 5px rgba(56,69,79, 0.9);
	  }
	  70% {
	      -webkit-box-shadow: 0 0 0 10px rgba(56,69,79, 0.4);
	  }
	  100% {
	      -webkit-box-shadow: 0 0 0 5px rgba(56,69,79, 0.4);
	  }
	}
	@keyframes pulse {
	  0% {
	    -moz-box-shadow: 0 0 0 5px rgba(56,69,79, 0.9);
	    box-shadow: 0 0 0 5px rgba(56,69,79, 0.4);
	  }
	  70% {
	      -moz-box-shadow: 0 0 0 10px rgba(56,69,79, 0.4);
	      box-shadow: 0 0 0 10px rgba(56,69,79, 0);
	  }
	  100% {
	      -moz-box-shadow: 0 0 0 5px rgba(56,69,79, 0.4);
	      box-shadow: 0 0 0 5px rgba(56,69,79, 0);
	  }
	}



	.slider-death-count-box:nth-child(1) .slider-death-count-circle {
		background-color: #38454F;
	}

	.slider-death-count-box:nth-child(2) .slider-death-count-circle {
		background-color: orange;
	}

	.slider-death-count-box:nth-child(3) .slider-death-count-circle {
		background-color: red;
	}

	.slider-death-count-box:nth-child(4) .slider-death-count-circle {
		background-color: #6d0909;
	}

	.fatalities-box:nth-child(1) .fatalities-count {
		background-color: #38454F;
	}

	.fatalities-box:nth-child(2) .fatalities-count {
		border-radius: 50%;
		background-color: #38454F;
	}

	.fatalities-box:nth-child(3) .fatalities-count {
		background-color: #38454F;
	}

	.slider-death-count-label, .fatalities-label {
	  position: relative;
	  margin-top: 50%;
	  transform: translateY(-50%);
	}

	.fatalities-inner-circle {
		width: calc(100% - 2px);
		height: 0px;
		padding-bottom: calc(100% - 2px);
		border-radius: 50%;
		border-color: white;
		border-width: 1px;
		border-style: solid;
	}


}

.hideFilters {
	display: none;
}

.leaflet-top {
	bottom: 0px;
}