@import "mq";
@import "fonts";
@import "palette";

@import "leaflet";
@import "MarkerCluster";
@import "parallax";

@import "containers";
@import "topfive";
@import "sidebar";
@import "mode";
@import "key";
@import "results";
@import "article";
@import "more";
@import "search";
@import "map";
@import "geolocation";
@import "filter";
@import "intro";
@import "slider";
@import "casualties";
@import "console";
@import "modal";
@import "states";
@import "info";
@import "footer";
@import "preloader";
@import "sidecar";
@import "linked";
@import 'node_modules/pretty-checkbox/src/pretty-checkbox.scss';

.sources {
    line-height: 1.5;
    color: #333;
    margin-top: 10px;
}

.show-new {
	width: 100%;
	margin-bottom: 20px;
}

.pretty {
	font-size: 13px;
	font-family: 'Guardian Text Sans Web', 'Agate Sans', sans-serif;
}


html,
body,
.element-atom,
.interactive-atom {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


body, figure.interactive {
    margin: 0;
    padding: 0;
}

.interactive-container {
    margin: 0 auto;
    box-sizing: border-box;

}


#frontier_app {
	width: 100%;
}