.leaflet-popup-content-wrapper {
	max-width: 210px;
}

.leaflet-popup-content {
	max-width: 180px;
	padding-top: 10px;
}

.readmore {
	color: #290003;
	cursor: pointer;
}

.leaflet-popup-content-wrapper strong {
	color: #38454F;
}

.totaline {
	width: 100%;
	border-top: 1px solid darkgrey;
	margin-top: 0px;
	margin-bottom: 10px;
}